.menu {
  min-height: 100vh;
}

.sticky-menu {
  background: rgba(0, 0, 0, 0.85);
  z-index: 3;
  top: 74px;
}

.tabs {
  padding: 10px 0 10px 0;
  display: flex;
  margin: auto;
  position: sticky;

  width: 100%;
  justify-content: space-between;
  text-transform: uppercase;
  flex-wrap: wrap;
  grid-gap: 40px;
  @media (max-width: 600px) {
    justify-content: space-around;
  }
  .tab {
    cursor: pointer;
  }
}

.active-menu {
  color: white;
}
.item-container {
  width: fit-content;
  margin: auto;
  overflow: hidden;
  // box-shadow: 0 4px 8px 0 rgb(255 255 255 / 20%);
  padding: 5px;
  transition: 0.3s;
  border-radius: 3%;

  // &:hover {
  //   box-shadow: 0 8px 16px 0 rgba(212, 197, 197, 0.2);
  // }
}
.menu-items {
  margin-top: 50px;
  max-width: 100%;
  display: grid;
  grid-gap: 10px;
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
  grid-template-columns: 1fr 1fr;
  .img-container {
    &:hover {
      .item-info {
        transform: translateY(0) !important;

        .item-container {
          box-shadow: 0 8px 16px 0 rgba(212, 197, 197, 0.2);
        }
      }
    }
    // width: 50%;
    margin: auto;

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
    img {
      max-width: 100%;
      width: 240px;
      border-radius: 3%;
      min-width: 100%;
    }
  }

  .menu-item {
    margin: auto;
    @media (max-width: 600px) {
      width: 100%;
    }
    // display: flex;
    // justify-content: center;
    .item-info {
      margin: auto;
      text-align: center;

      width: -moz-fit-content;
      // max-width: 50%;
      transition: all 0.5s;
      transform: translateY(168px);
      p {
        border-top: dashed 1px #bab3a6;
        padding-top: 10px;
        border-bottom: dashed 1px #bab3a6;
        padding: 10px 0 10px 0;
        // transition: all 0.5s;
        // transform: translateY(100px);
      }
      main {
        height: 40px;
        display: flex;
        justify-content: space-between;
      }
      .order {
        background-color: transparent;
        margin-bottom: 10px;

        &:hover {
          background: #cda45e;
          color: #fff;
        }
      }
    }
  }
}
