$theme-color: #cda35e;

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $theme-color;
  font-family: georgia, serif;
  font-weight: normal;
  height: 2000px;
  overflow-x: hidden;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
.main-container {
  margin: auto;
}

#footer {
  background: black;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;

  a {
    text-decoration: none;
    color: white;
  }
}

#footer .footer-top {
  background: #0c0b09;
  border-top: 1px solid #37332a;
  padding: 60px 0 30px 0;
  padding: 60px 0;
  background-color: #0c0b09;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;

  p {
    display: flex;
    flex-direction: column;
  }
}

#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Playfair Display", serif;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  background: #28251f;
  color: #fff;
  line-height: 1;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  display: flex;
  height: 36px;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
}

#footer .footer-top .social-links a:hover {
  background: #cda45e;
  color: #fff;
  text-decoration: none;
}
.social-links {
  margin-top: 15px;
  grid-gap: 15px;
  display: flex;
}

#footer {
  .row {
    display: flex;
    justify-content: space-between;
  }
}
